.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 80px;
  max-width: 984px;
  padding: 92px 0;
}

@media screen and (min-width: 750px) and (max-width: 999px) {
  .places {
    gap: 73px;
    padding: 88px 0;
  }
}

@media screen and (max-width: 749px) {
  .places {
    gap: 50px;
    padding: 64px 0;
  }
}
