.cover__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 360px;
  margin: 0 auto;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
