.header__logo {
  background-image: url("../../../images/header-logo.svg");
  width: 176px;
  height: 52px;
  background-size: cover;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
