.lead__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  max-width: 720px;
  min-width: 288px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 666px) {
  .lead__title {
    max-width: 490px;
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 520px) {
  .lead__title {
    max-width: 350px;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
  }
}
