.intro {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  padding: 92px 0 0 148px;
  grid-template-columns: minmax(288px, 690px);
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 0 0 48px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 499px) {
  .intro {
    padding: 64px 16px 0;
  }
}

