.cover {
  position: relative;
  padding: 92px 48px 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100vw;
    max-height: 640px;
    padding: 92px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 100vw;
    max-height: 480px;
    padding: 90px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 100vw;
    max-height: 200px;
    padding: 66px 0 0;
  }
}

