.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 16/10;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1;
}

.cover__background:hover .cover__overlay {
  opacity: 0.8;
}
