.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 506px) {
  .cover__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 42px;
    padding-top: 6px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
