.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 456px;
  margin: 0;
}

@media screen and (max-width: 360px) {
  .place__website {
    padding-left: 16px;
  }
}
