.intro__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 690px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 499px) {
  .intro__title {
    max-width: 260px;
    font-size: 32px;
    line-height: 35px;
  }
}
